# Core Dependencies
streamlit
streamlit-option-menu
streamlit-webrtc

# Deep Learning
tensorflow
keras
numpy

# Computer Vision
# Use headless OpenCV on server/cloud to avoid missing GUI libs (libGL)
opencv-python-headless


# Utilities
python-dotenv
Pillow
pandas
matplotlib
# scikit-learn

# Development
streamlit-extras
